FDA_TABEAN_HERB_NEW/Web References/FDA_SMS/FDA_SMS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SMS_GATEWAY">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMS_GATEWAYResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMS_GATEWAYResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SEND_SMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SEND_SMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SEND_SMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SEND_SMS_DATA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EMAILs" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SEND_LIST_SMS">
        <s:complexType />
      </s:element>
      <s:element name="SEND_LIST_SMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SEND_LIST_SMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SMS_GATEWAYSoapIn">
    <wsdl:part name="parameters" element="tns:SMS_GATEWAY" />
  </wsdl:message>
  <wsdl:message name="SMS_GATEWAYSoapOut">
    <wsdl:part name="parameters" element="tns:SMS_GATEWAYResponse" />
  </wsdl:message>
  <wsdl:message name="SEND_SMSSoapIn">
    <wsdl:part name="parameters" element="tns:SEND_SMS" />
  </wsdl:message>
  <wsdl:message name="SEND_SMSSoapOut">
    <wsdl:part name="parameters" element="tns:SEND_SMSResponse" />
  </wsdl:message>
  <wsdl:message name="SEND_SMS_DATASoapIn">
    <wsdl:part name="parameters" element="tns:SEND_SMS_DATA" />
  </wsdl:message>
  <wsdl:message name="SEND_LIST_SMSSoapIn">
    <wsdl:part name="parameters" element="tns:SEND_LIST_SMS" />
  </wsdl:message>
  <wsdl:message name="SEND_LIST_SMSSoapOut">
    <wsdl:part name="parameters" element="tns:SEND_LIST_SMSResponse" />
  </wsdl:message>
  <wsdl:portType name="FDA_SMSSoap">
    <wsdl:operation name="SMS_GATEWAY">
      <wsdl:input message="tns:SMS_GATEWAYSoapIn" />
      <wsdl:output message="tns:SMS_GATEWAYSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SEND_SMS">
      <wsdl:input message="tns:SEND_SMSSoapIn" />
      <wsdl:output message="tns:SEND_SMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SEND_SMS_DATA">
      <wsdl:input message="tns:SEND_SMS_DATASoapIn" />
    </wsdl:operation>
    <wsdl:operation name="SEND_LIST_SMS">
      <wsdl:input message="tns:SEND_LIST_SMSSoapIn" />
      <wsdl:output message="tns:SEND_LIST_SMSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FDA_SMSSoap" type="tns:FDA_SMSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SMS_GATEWAY">
      <soap:operation soapAction="http://tempuri.org/SMS_GATEWAY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SEND_SMS">
      <soap:operation soapAction="http://tempuri.org/SEND_SMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SEND_SMS_DATA">
      <soap:operation soapAction="http://tempuri.org/SEND_SMS_DATA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SEND_LIST_SMS">
      <soap:operation soapAction="http://tempuri.org/SEND_LIST_SMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FDA_SMSSoap12" type="tns:FDA_SMSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SMS_GATEWAY">
      <soap12:operation soapAction="http://tempuri.org/SMS_GATEWAY" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SEND_SMS">
      <soap12:operation soapAction="http://tempuri.org/SEND_SMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SEND_SMS_DATA">
      <soap12:operation soapAction="http://tempuri.org/SEND_SMS_DATA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SEND_LIST_SMS">
      <soap12:operation soapAction="http://tempuri.org/SEND_LIST_SMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FDA_SMS">
    <wsdl:port name="FDA_SMSSoap" binding="tns:FDA_SMSSoap">
      <soap:address location="http://10.111.28.108/WS_SMS/FDA_SMS.asmx" />
    </wsdl:port>
    <wsdl:port name="FDA_SMSSoap12" binding="tns:FDA_SMSSoap12">
      <soap12:address location="http://10.111.28.108/WS_SMS/FDA_SMS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>